@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{  padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'poppins',sans-serif;
}
.btn{
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.05rem;
}
.text{
    opacity: 0.8;
}
.title{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.container{
    min-height: 100vh;
}
.meal-wrepper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    background: #fff;
    text-align: center;
}
.meal-search{
    margin: 2rem 0;
}
.meal-search cite{
    font-size: 1rem;
}
.meal-search-box{
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
}
.search_content .search-btn{
    width: 100%;
}
.search_content{
    padding: 0rem;
    font-size: 1.1rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid orangered;
    color: orangered;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;

}
.search_content::placeholder{
    color: orangered;
    font-size:0.80rem ;
}
.search-btn{
    width: 55px;
    height: 30px;
    font-size: 1.08rem;
    background: orangered;
    color: #fff;
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.45 linear;
}
.search-btn:hover{
    background: orangered;

}
.meal-deatails{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    background: orangered;
    border-radius: 1rem;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    display: none;
    padding: 2rem 0;
}
.meal-deatails::-webkit-scrollbar{
    width: 10px;
}
.meal-deatails::-webkit-scrollbar-thumb{
    background: #f0f0f0;
    border-radius: 2rem;
}
/*js related*/
.showRecpie{
    display: block;
}

.meal-detail-content{
    margin: 2rem;
}
.meal-detail-content p:not(.recipie-cotegory){
    padding: 1rem 0;
}

.recipe-close-btn{
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background: #fff;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;

}
.recipe-title{
    letter-spacing: 1px;
    padding-bottom: 1rem;

}
.recipie-cotegory{
    background: #fff;
    font-weight: 600;
    color: orangered;
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;

}
.recipie-instruction{
    padding: 1rem 0;
    
}
.recipie-meal-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;

}
.recipie-link{
    margin: 1.4rem 0;
}
.recipie-link a{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.45 linear;
}
.recipie-link:hover{
    opacity: 0.8;
}

.notFound{
    grid-template-columns: 1fr!important;
    color: orangered;
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
}

.meal-result{
    margin-top: 4rem;

}
#meal{
    margin: 2.4rem 0;
}
.meal-item{
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0,0,0,0.79);
    margin: 2rem 0;
}
.meal-img img{
    width: 100%;
    display: block;
}
.meal-name{
    padding: 1.5rem 0.5rem;

}
.meal-name h3{
    font-size: 1.4rem;

}
.recipe-btn{
    text-decoration: none;
    color: #fff;
    background: orangered;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 2rem;
    transition: all 0.45 linear;
}
.recipe-btn{
    background: orangered;

}
@media screen and(min-width:600px){
    .meal-search-box{
        width: 540px;
        margin-left: auto;
        margin-right: auto;

    }
    .meal-deatails{
        width: 700px;
    
    }
}
.meal-search-box{
    height: 55px;
    width: 540px;
    margin-left: auto;
    margin-right: auto;
    min-width:600px;
    justify-content: center;
    align-items: center;
    display: flex;
}

@media screen and(min-width:768px){
    #meal{
        display: flex;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
    .meal-item{
        margin: 0;
    }
}
#meal{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    min-width:768px;
}
.meal-item{
    margin: 0;
}
.meal-deatails{
    width: 700px;

}

